body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-basic {
  min-width: 160px;
  min-height: 40px;
  padding: 10px;
  border: blueviolet;
  font-size: 16px;
  background: antiquewhite;
}

.hover {
  background-color: rgb(238, 176, 96);
}